 .u-section-1 {
  background-image: url("images/IMG_3286.JPG");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 435px;
}

.u-section-1 .u-group-1 {
  width: 684px;
  min-height: 262px;
  height: auto;
  margin: -20px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: DrukMedium;
  letter-spacing: 4px;
  margin: 113px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-group-1 {
    width: 564px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 165px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-1 .u-group-1 {
    width: 576px;
    min-height: 328px;
    margin-top: 65px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 167px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-group-1 {
    width: 405px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 177px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 390px;
    min-height: 264px;
    margin-top: -22px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 129px;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 303px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 33px 541px 33px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 141px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-custom-html-1 {
  margin-bottom: 60px;
}.u-section-4 .u-sheet-1 {
  min-height: 405px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 33px 570px 33px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 170px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-custom-html-1 {
  margin-bottom: 60px;
}@font-face {
  font-family: 'DrukMedium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/DrukMedium.otf);
}