 .u-section-1 {
  background-image: url("images/IMG_8600.JPG");
  background-position: 50% 61.15%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 435px;
}

.u-section-1 .u-group-1 {
  width: 684px;
  min-height: 262px;
  height: auto;
  margin: -20px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 113px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-group-1 {
    width: 564px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-family: DrukMedium;
    margin-top: 165px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-1 .u-group-1 {
    width: 576px;
    min-height: 328px;
    margin-top: 65px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 167px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-group-1 {
    width: 405px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 177px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 390px;
    min-height: 264px;
    margin-top: -22px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 129px;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1));
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 385px;
}

.u-section-2 .u-table-1 {
  margin: 67px auto 60px 0;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-6 {
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  background-image: none;
}

.u-section-2 .u-table-cell-12 {
  background-image: none;
}

.u-section-2 .u-table-cell-15 {
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%, 50% 40.51%;
    background-size: cover;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  min-height: 606px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 1px auto 1px 0;
}

.u-section-3 .u-image-1 {
  min-height: 604px;
  background-image: url("images/IMG_2844.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 604px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 102px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 332px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-image-1 {
    min-height: 498px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 498px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 255px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-image-1 {
    min-height: 381px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 482px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 341px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }
}@font-face {
  font-family: 'DrukMedium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/DrukMedium.otf);
}